.chat-page {
  padding: 42px max(24px, calc((100% - 820px) / 2)) 72px;
  margin: 0 auto;
  max-width: 100%;

  .chat-page__header {
    text-align: center;

    .chat-page__header-title-box {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
    }

    .chat-page__header-logo {
      width: 58px;
      height: 40px;
    }

    .chat-page__header-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
      font-size: 24px;
    }

    .chat-page__header-subtitle {
      margin-top: 8px;
      font-size: 60px;
      font-weight: bold;
    }

    .chat-page__header-desc {
      margin-top: 8px;
      color: #6F798B;
    }
  }
}
