.chat-message {
  display: flex;
  flex-direction: column;
  padding: 8px 0 28px;
}

.user-message--wrapper {
  gap: 10px;
}

.chat-message-item {
  word-break: break-all;
  word-wrap: break-word;
}
.chat-message-item + .chat-message-item {
  margin-top: 30px;
}

.chat-message-item--user {
  align-self: flex-end;
  max-width: 78%;
  background: #f2f2f2;
  padding: 12px 16px;
  border-radius: 18px 18px 4px 18px;
  font-weight: 450;
}

.chat-status {
  margin: 20px 0;
  padding: 15px 20px;
  border-radius: 12px;
  background: #f7f7f7;
  border: 1px solid #ededed;
}
